Source: mps-youtube
Section: utils
Priority: extra
Maintainer: Zlatan Todoric <zlatan@riseup.net>
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools
Standards-Version: 3.9.6
Homepage: https://github.com/np1/mps-youtube
X-Python3-Version: >= 3.4

Package: mps-youtube
Architecture: all
Depends: ${misc:Depends}, python3-pafy (>= 0.3.74), mplayer2 | mpv, python3, ffmpeg | avconv,  ${python3:Depends}, python3-pkg-resources
Recommends: python-notify, xclip
Description: Terminal based YouTube jukebox with playlist management
 This project is a terminal based YouTube client with an interactive text 
 interface and in-built help. It can be used to search YouTube, create local 
 playlists to queue your favourite content, play audio or video (launched in 
 external player) and can download YouTube content in various formats (mp4, 
 flv, webm, ogg, m4a, m4v and 3gp).
